<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Front End</title>
    <link rel="icon" type="image/ico" href="https://miro.medium.com/max/12032/0*Q8DDPKbl1Jek0i0a" />
    <link rel="stylesheet" href="responsive template.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
</head>
<body onload="scrollFunction()">
        
            <div id="fixed"></div>   
            <div id="container3"></div>
            <div id="container8"></div>
        
        <div id="slideshow">
                <div style="background-image: url('images/slider/1.jpg')">
                  <h1 id="scrollText">HELLO, THIS IS WEB & MOBILE STUDIO</h1> <br> <br>
                  <h1 id="hidden">THIS IS WEB & MOBILE STUDIO</h1> <br> <br> 
                  <div id="textSlideshow">
                      <h2>fully responsive business</h2>
                      <h2>Digital Studio in Bangkok</h2>
                      <h2>Mauris mattis vitae libero</h2>
                  </div><br>
                  <p>IT IS BUILT ON HTML5, CSS3, BOOTSTRAP, AND MUCH MORE!</p>
                  <button>OUR WORK</button>
                </div>
                <div style="background-image: url('images/slider/2.jpg')">
                  <h1>FLEX SLIDER, CSS FLEXBOX</h1> <br> <br>
                  <div id="textSlideshow">
                        <h2>work on Works on IE 10+</h2>
                        <h2>Donec et augue quis quam </h2>
                        <h2>Digital Studio in Bangkok</h2>
                    </div><br>
                  <p>SEE CANIUSE.COM FOR BROWSER COMPATIBILITY INFORMATION</p>
                  <button>SEE ABOU US</button>
                </div>
                <div style="background-image: url('images/slider/3.jpg')">
                     <h1>SPECIAL AND THANKS YOU</h1>  <br> <br>
                     <div id="textSlideshow">
                            <h2>unsplash.com, flexslider</h2>
                            <h2>Suspendisse faucibus quam </h2>
                            <h2>This is third text lorem</h2>
                        </div><br>
                     <p>FEEL FREE TO LOOK AROUND AND CUSTOMIZE TO SUIT YOUR NEEDS.</p>
                     <button>OUR SERVICES</button>
                </div>
             </div>
             

    <div class="container">
            <div id="item1">
                <h4>Welcome to CRYSTAL Design</h4>
                <h3>Digital Studio in Bangkok</h3>
                <p>Crystal is free web template for everyone. Feel free to use it for your website. Please spread a word 
                    about <span>template</span><span style="color: #66AF33">mo</span> to your friends. Integer lorem magna, gravida vitae metus a, euismod faucibus nisi.
                     In sed nulla magna. Nulla in mauris ullamcorper, cursus lorem lobortis, pellentesque enim. 
                     Ut vel pellentesque est. Maecenas sed malesuada tellus.</p>
            </div>
        
            <div  id="item2">
                <h4>Our Location</h4> <br>
                <img src="images/img-1.jpg">
                <img src="images/img-2.jpg">
                <img src="images/img-3.jpg">
                <img src="images/img-4.jpg">
            </div>
        </div>



        <div class="second-container" id="team">
                <h3>MEET CRYSTAL TEAM</h3> <br>
                <p>Mauris mattis vitae libero eget iaculis. Donec et augue quis quam porttitor consectetur ut nec sem. 
                    Integer sagittis viverra quam quis ultricies. Aenean risus nisl, consequat at nunc id,
                     tincidunt tristique mauris.</p>
        
                     <div class="gallery">
                            <div class="shadow1"> <div class="text"><h1><i style="font-size:1.4vw" class="fa">&#xf09a;</i></h1> <h1><i style="font-size:1.4vw" class="fa">&#xf099;</i></h1><h1><i style="font-size:1.4vw" class="fa">&#xf16d;</i></h1></div></div>
                            <div class="shadow2"> <div class="text"><h1><i style="font-size:1.4vw" class="fa">&#xf09a;</i></h1> <h1><i style="font-size:1.4vw" class="fa">&#xf099;</i></h1><h1><i style="font-size:1.4vw" class="fa">&#xf16d;</i></h1></div></div>
                            <div class="shadow3"> <div class="text"><h1><i style="font-size:1.4vw" class="fa">&#xf09a;</i></h1> <h1><i style="font-size:1.4vw" class="fa">&#xf099;</i></h1><h1><i style="font-size:1.4vw" class="fa">&#xf16d;</i></h1></div></div>
                            <div class="shadow4"> <div class="text"><h1><i style="font-size:1.4vw" class="fa">&#xf09a;</i></h1> <h1><i style="font-size:1.4vw" class="fa">&#xf099;</i></h1><h1><i style="font-size:1.4vw" class="fa">&#xf16d;</i></h1></div></div>
                            <img src="images/team-img-1.jpg">
                            <img src="images/team-img-2.jpg">
                            <img src="images/team-img-3.jpg">
                            <img src="images/team-img-4.jpg">
                            <div class="desc"><span>TRACY</span> <br>DESIGNER</div>
                            <div class="desc"><span>MARY</span>  <br>DEVELOPER</div>
                            <div class="desc"><span>JULIA</span> <br>DIRECTOR</div>
                            <div class="desc"><span>LINDA</span> <br>MANAGER</div>
                     </div>
            </div>
        

            <div class="container4" id="services">
                <h2>CRYSTAL SERVICES</h2>
                <p id="redColor">Mauris mattis vitae libero eget iaculis. Donec et augue quis quam porttitor consectetur ut nec sem.
                     Integer sagittis viverra quam quis ultricies. Aenean risus nisl, consequat at nunc id, 
                     tincidunt tristique mauris.</p>

                     <div id="icons">
                         <div class="one">
                             <div class="icon1">
                                    <i class="fa fa-gear fa-spin" style="margin-top: 28%"></i>
                                    <h3 id="web">WEB DEVELOPMENT</h3>
                                    <p>In suscipit, purus id ultrices sodales, nunc mi porta nibh, bibendum maximus sem mi id metus.
                                         Suspendisse faucibus suscipit diam.</p>
                             </div>
                         </div>


                         <div class="two">
                                <div class="icon2">
                                        <i class="fa fa-globe" style=" margin-top: 28%"></i>
                                        <h3>DOMAIN HOSTING</h3>
                                    <p>In suscipit, purus id ultrices sodales, nunc mi porta nibh, bibendum maximus sem mi id metus.
                                         Suspendisse faucibus suscipit diam.</p>
                                </div>
                            </div>


                            <div class="three">
                                    <div class="icon3">
                                            <i  class='fa fa-desktop' style="margin-top: 28%"></i>
                                            <h3>WEB DESIGN</h3>
                                    <p>In suscipit, purus id ultrices sodales, nunc mi porta nibh, bibendum maximus sem mi id metus.
                                         Suspendisse faucibus suscipit diam.</p>
                                    </div>
                                </div>


                                <div class="four">
                                        <div class="icon4">
                                                <i class="fa fa-heart" style="margin-top: 28%"></i>
                                                <h3>SOCIAL MEDIA</h3>
                                    <p>In suscipit, purus id ultrices sodales, nunc mi porta nibh, bibendum maximus sem mi id metus.
                                         Suspendisse faucibus suscipit diam.</p>
                                        </div>
                                    </div>


                                    <div class="five">
                                            <div class="icon5">
                                                    <i class="fa fa-laptop" style="margin-top: 28%"></i>
                                                    <h3>RESPONSIVE THEMES</h3>
                                    <p>In suscipit, purus id ultrices sodales, nunc mi porta nibh, bibendum maximus sem mi id metus.
                                         Suspendisse faucibus suscipit diam.</p>
                                            </div>
                                        </div>

                                        <div class="six">
                                                <div class="icon6">
                                                        <i class="fa fa-envelope" style="margin-top: 28%"></i>
                                                        <h3>EMAIL HOSTING</h3>
                                    <p>In suscipit, purus id ultrices sodales, nunc mi porta nibh, bibendum maximus sem mi id metus.
                                         Suspendisse faucibus suscipit diam.</p>
                                                </div>
                                            </div>
                                     </div>                
                              </div>


            <div class="container5" id="newsletter">
                <h2>CRYSTAL NEWSLETTER</h2>
                <p>Mauris mattis vitae libero eget iaculis. Donec et augue quis quam porttitor consectetur ut nec sem.
                     Integer sagittis viverra quam quis ultricies. Aenean risus nisl, consequat at nunc id, tincidunt
                      tristique mauris.</p>
                      <br><br>
                      <input placeholder="Enter your Email">
                      <button>SUBSCRIBE&nbsp;NOW</button>
            </div>



<div class="container6"  id="work">
        <h2>CRYSTAL WORK</h2> <br>
        <p>Mauris mattis vitae libero eget iaculis. Donec et augue quis quam porttitor consectetur ut nec sem. 
            Integer sagittis viverra quam quis ultricies. Aenean risus nisl, consequat at nunc id, tincidunt 
            tristique mauris.</p>
            <br>
            <div class="image-gallery">
                <img src="images/work-img-1.jpg">
                <img src="images/work-img-2.jpg">
                <img src="images/work-img-3.jpg">
                <img src="images/work-img-4.jpg">
                <img src="images/work-img-5.jpg">
                <img src="images/work-img-1.jpg">

                <div class="shadow1">
                        <div class="like1">
                                <i class="fa fa-thumbs-o-up" style="color: white; margin: 23px"></i>
                        </div>
                </div>
                <div class="shadow2" style="margin-left: 334px">
                        <div class="like2">
                                <i class="fa fa-thumbs-o-up" style="color: white; margin: 23px"></i>
                        </div>
                    </div>
                <div class="shadow3" style="margin-left: 667px">
                        <div class="like3">
                                <i class="fa fa-thumbs-o-up" style="color: white; margin: 23px"></i>
                        </div>
                </div>
                <div class="shadow4" style="margin-top: -250px">
                        <div class="like4">
                                <i class="fa fa-thumbs-o-up" style="color: white; margin: 23px"></i>
                        </div>
                </div>
                <div class="shadow5" style="margin-top: -250px; margin-left: 334px">
                        <div class="like5">
                                <i class="fa fa-thumbs-o-up" style="color: white; margin: 23px"></i>
                        </div>
                </div>
                <div class="shadow6" style="margin-top: -250px; margin-left: 667px">
                        <div class="like6">
                                <i class="fa fa-thumbs-o-up" style="color: white; margin: 23px"></i>
                        </div>
                </div>
            </div>
</div>

    

<div class="container7" id="pricing">
    <h2>CRYSTAL PRICING</h2> <br>
    <p class="no-gallery">Please tell your friends about templatemo.com website. Thank you for supporting us.
         Donec et augue quis quam porttitor consectetur ut nec sem. Integer sagittis viverra quam quis ultricies.
          Aenean risus nisl, consequat at nunc id, tincidunt tristique mauris.</p>
<br><br>
<div class="pricing-gallery">
          <div class="starter">
              <p>STARTER</p>
              <div style="margin-top: -15px">
              $20 per month <br> 
              100 GB SPACE <br>
              500 GB BANDWIDTH <br>
              50 Premium Designs <br>
              1-Year Support <br>
              </div>

              <button>SIGN UP</button>
          </div>
          <div class="business">
                <p>BUSINESS</p>
                <div style="margin-top: -15px">
                $50 per month <br> 
                200 GB SPACE <br>
                2,000 GB BANDWIDTH <br>
                200 Premium Designs <br>
                2-Year Support <br>
                </div>
                <button>SIGN UP</button>
          </div>

          <div class="professional">
                <p>PROFESSIONAL</p>
                <div style="margin-top: -15px">
                $75 per month <br> 
                600 GB SPACE <br>
                3,000 GB BANDWIDTH <br>
                300 Premium Designs <br>
                3-Year Support <br>
                </div>
                <button>SIGN UP</button>
          </div>

          <div class="advanced">
                <p>ADVANCED</p>
                <div style="margin-top: -15px">
                $120 per month <br> 
                1,500 GB SPACE <br>
                10,000 GB BANDWIDTH <br>
                500 Premium Designs <br>
                lifetime Support <br>
                </div>  
                <button>SIGN UP</button>
          </div>
     </div>
</div>


<div class="container-contact" id="contact">
      <h2>CONTACT CRYSTAL</h2>
      <p>Mauris mattis vitae libero eget iaculis. Donec et augue quis quam porttitor consectetur ut nec sem.
           Integer sagittis viverra quam quis ultricies. Aenean risus nisl, consequat at nunc id, tincidunt
            tristique mauris.</p> <br> <br>

            <input placeholder="&nbsp; Name">
            <input placeholder="&nbsp; Email">
            <input placeholder="&nbsp; Subject">
            <br> <br>
            <textarea>Message</textarea> <br> <br> 
            <button>SHOOT MESSAGE</button>
            <p class="copyright">Copyright © 2019 Your Company Name</p>
</div>


   <div id="ipadMenu">
       <a href="#slideshow"><h3>HOME</h3> </a>
       <a href="#slideshow"><h3>STUDIO</h3> </a>
       <a href="#team"><h3>TEAM</h3> </a>
       <a href="#services"> <h3>SERVICES</h3> </a>
       <a href="#work"> <h3>WORK</h3> </a>
       <a href="#pricing"> <h3>PRICING</h3> </a>
       <a href="#contact"><h3>CONTACT</h3> </a>
   </div>
        
    
<div class="header" id="home">
        <p  id="crystal">CRYSTAL</p>
        <p class="menu"><span class="home">HOME</span> <span>STUDIO</span> <span>TEAM</span> <span>SERVICES</span> <span>WORK</span> <span>PRICING</span> <span>CONTACT</span></p>
        <i id="openMenu"  class="fa fa-bars"></i>
    </div>

    <script src="responsive template.js"></script> 
</body>
</html>