html {
    scroll-behavior: smooth;
}

body{
     margin: 0;
     padding: 0;
     font-family: 'Open Sans', sans-serif;
     color: #555555;
     background: #FFFFFF;
}


.header {
    overflow: hidden;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 3px rgb(249, 249, 249);
}

#crystal {
    color: #66AF33;
    font-size: 1.35em;
    margin-left: 10.6%;
    font-weight: bolder;
    margin-top: 1.3%;
    cursor: pointer;
    float: left;
    display: block;
}

#crystal:hover {
    color:#404040;
}

.header p.menu  {
    color: #404040;
    font-size: 0.9em;
    margin-left: 46%;
    font-weight: bolder;
    word-spacing: 1.56em;
    cursor: pointer;
    margin-top: 1.7%;
}

.header p.menu span:hover {
    color:#66AF33;
}

.header p.menu span.home {
    color: #66AF33;
}


#openMenu {
    margin-top: 15px;
    margin-left: 30%;
    font-size: 24px;
    display: none;
}



  #slideshow > div { 
    
    width: 100%;
    position: absolute;
    top: 10%; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    overflow: hidden;
    background-size: 100%;
    background-repeat: no-repeat;
}


#slideshow > div h1 {
    color: white;
    text-align: center;
    padding-top: 9%;
    transition: 1s;
}

#hidden {
    display: none;
    color: red;
}


#scrollText {
    color: white;
    text-align: center;
    margin-top: -100px;
}

.slideshowText-afterScroll {
    padding-top: 100px;
}

#slideshow > div p {
    color: white;
    text-align: center;
    font-size: 1.1vw;
}

#slideshow > div h2 {
    position: absolute;
    color: rgb(255, 255, 255);
    margin-left: 35%;
    font-size: 2.5vw;
    margin-top: -3%;
}

#slideshow > div button {
    display: block;
    margin: auto;
    color: white;
    background-color: #66AF33;
    border: none;
    padding: 18px 80px;
    font-weight: 800;
    cursor: pointer;
    margin-top: 5%;
}

#slideshow > div button:hover {
    background-color: #FFFFFF;
    color: #66AF33;
}


.container {
width: 100%;
height: 450px;
margin-top: 47%;
}

.container #item1 {
    width: 42.5%;
    height: auto;
    margin-top: 8.6%;
    float: left;
    transition: 0.7s;
}

.container #item1 h4 {
    font-size: 1.7vw;
    margin: 0;
}

.container #item1 h3 {
    color: #66AF33;
    font-size: 2.3vw;
    margin-top: 4%;
    
}

.container #item1 p {
    line-height: 1.7;
    font-size: 1.1vw;
}

.container #item1 span {
    color: rgb(96, 122, 194);
    font-weight: 600;
}

.item1 {
    margin-left: 13%;
}


#item2 {
    transition: 0.5s;
    width: 37.5%;
    margin-left: 57.5%;
    height: auto;
    float: right;
    
}

#item2 h4 {
    margin: 0;
    font-size: 1.9vw;
}

#item2 img {
    width: 40%;
    padding: 0.5%;
   
}

.item2 {
    margin-top:-19.4%;
}


.second-container {
    width: 100%;
    height: auto;
    background-color: #404040;
    padding-top: 6.1%;
    position: absolute;
}

.second-container h3 {
     color: white;
     text-align: center;
     font-size: 1.7vw;
     letter-spacing: 0.1em;
     word-spacing: 0.2em;
}

.second-container p {
    color: white;
    text-align: center;
    width: 660px;
    display: block;
    margin: auto;
    font-size: 1.15vw;
    line-height: 1.7;
}

.img-gallery {
    margin-left: 12%;
}

.img-gallery2 {
    padding: 1.3%;
}

div.gallery {
    width: 77%;
    height: 400px;
    /*margin-left: 12%;*/
    margin-top: 2%;
    transition: 1s;
}

div.gallery img {
    width: 22%;
    float: left;
    /*padding: 1.3%;*/
    height: auto;
    transition: 3s;
}

div.gallery .shadow1 {
    width: 17%;
    height: 34.6%;
    background-color: white;
    position: absolute;
    margin-top: 1%;
    margin-left: 1%;
    opacity: 0;
    transition: 0.7s;
}

div.gallery .shadow1:hover {
    opacity: 0.8;
}

div.text {
    margin-left: 18%;
}


.shadow1 h1, .shadow2 h1, .shadow3 h1, .shadow4 h1 {
    padding: 6%;
    width: 10%;
    text-align: center;
    border-radius: 50%;
    font-size: 1.4vw;
    margin-top: 50%;
    margin-left: 2%;
    color: white;
    background-color: black;
    opacity: 0.8;
    cursor: pointer;
    transition: 0.6s;
    float: left;
}


.shadow1 h1:hover, .shadow2 h1:hover, .shadow3 h1:hover, .shadow4 h1:hover {
    background-color: rgb(66, 150, 5);
    opacity: 0.9;
}

div.gallery .shadow1 {
    height: 222px;
}

div.gallery .shadow2 {
    width: 17%;
    height: 222px;
    background-color: white;
    position: absolute;
    margin-top: 1%;
    margin-left: 19.9%;
    opacity: 0;
    transition: 0.8s;
}


div.gallery .shadow2:hover {
    opacity: 0.8;
}

div.gallery .shadow3 {
    width: 16.9%;
    height: 222px;
    background-color: white;
    position: absolute;
    margin-top: 1%;
    margin-left: 38.9%;
    opacity: 0;
    transition: 0.8s;
}

div.gallery .shadow3:hover {
    opacity: 0.8;
}


div.gallery .shadow4 {
    width: 16.9%;
    height: 222px;
    background-color: white;
    position: absolute;
    margin-top: 1%;
    margin-left: 57.8%;
    opacity: 0;
    transition: 0.8s;
}

div.gallery .shadow4:hover {
    opacity: 0.8;
}

div.desc {
    color: red;
    float: left;
    margin: 1.3%;
    width: 22%;
    text-align: center;
    font-size: 1vw;
    color: #66AF33;
    margin-top: -1.3%;
    line-height: 1.5;
    background-color: rgb(47, 47, 47);
    padding-top: 2%;
    padding-bottom: 2%;
}

div.desc span {
     font-size: 1.3vw;
     font-weight: bolder;
     color: white;
}



#container3 {
    background-image: url("images/road.jpg");
    height: 600px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: -42%;
    position: fixed;
}

.container3 {
    width: 100%;
}





.scroli {
    height: 500px;
    margin-top: 50px;
    width: 300px;
    background-color: green;
}



/*აიქონების კონტეინერი*/
.container4 {
    width: 100%;
    text-align: center;
    position: absolute;
    height: 650px;
    margin-top: 670px;
    background-color: white;
    padding-top: 50px;
} 

.container4 h2 {
    color: rgb(22, 22, 22);
}


.container4 p {
    width: 48%;
    padding-top: 1.5%;
    font-size: 1.1vw;
    line-height: 1.5;
    color: #555555;   
    transition: 0.8s;
}

.P-afterScroll {
    margin-left: 27%;
}


.container4 #icons {
      width: 80%;
      height: 70%;
      display: block;
      transition: 3s;
}

.icons-afterScroll {
    margin-left: 10%;
}
.container4 #icons .one, .two, .three, .four, .five, .six {
    margin: 2%;
    width: 28%;
    height: 38%;
    float: left;
    margin-left: 3%;
}


.container4 #icons .one .icon1, .icon2, .icon3, .icon4, .icon5, .icon6 {
    width: 60px;
    height: 60px;
    background-color: #66AF33;
    border-radius: 50%;
    color: white;
}

.container4 #icons h3 {
     position: absolute;
     font-size: 1.35vw;
     margin-left: 70px;
     margin-top: -3.5%;
     color: #66AF33;
}

.container4 #icons p {
    width: 200px;
    text-align: start;
    margin-left: 70px;
    color: #7a7a7a;
}

.container4 #icons .fa {
    font-size: 16px;
}


/*გამჭირვალე კონტეინერი*/
.container5 {
    width: 80%;
    height: 330px;
    position: absolute;
    margin-top: 1410px;
    margin-left:10%;
}

.container5 h2 {
    text-align: center;
    color: white;
}



.container5 p {
    margin-left: 20%;
    color: rgb(255, 255, 255);
    width: 60%;
    text-align: center;
    line-height: 1.7;
    font-size: 1.1vw;
}

.container5 input{
    background-color: #404040;
    border: none;
    caret-color: white;
    opacity: 0.8;
    transition: 1.7s;
    color: white;
}

.input-afterScroll {
    margin-left: 12.5%;
    padding: 20px 15%;
}

::placeholder {
    color: white;
    opacity: 1; 
    padding-left: 2%;
    font-size: 1vw;
  }


  .container5 button {
      background-color: #66AF33;
      color: white;
      /*padding: 20px 80px;*/
      margin-left: 2%;
      border: none;
      opacity: 0.8;
      cursor: pointer;
      transition: 1.7s;
  }

  .button-afterScroll {
      padding: 20px 80px;
  }

  .container5 button:hover {
    background-color: white;
    color: #66AF33;
    opacity: 0.9;
  }

  .container6 {
      width: 100%;
      height: 865px;
      /*background-color: #404040;*/
      position: absolute;
      margin-top: 1791px;
      transition: 3s;
  }

  .container6-afterScroll {
     background-color: #404040;
  }

  .container6 h2 {
      text-align: center;
      color: white;
      margin-top: 100px;
  }

  .container6 p {
      color: white;
      width: 50%;
      margin-left: 25%;
      text-align: center;
      line-height: 1.7;
      font-size: 1.1vw;
  }

  .container6 .image-gallery {
      width: 76%;
      display: block;
      margin: auto;
  }
  .container6 img {
      width: 33%;
  }

  .shadow1, .shadow2, .shadow3, .shadow4, .shadow5, .shadow6 {
      width: 25.1%;
      height: 247px;
      background-color: white;
      position: absolute;
      margin-top: -501px;
      opacity: 0;
      transition: 0.6s;
  }

  .shadow1:hover, .shadow2:hover, .shadow3:hover, .shadow4:hover, .shadow5:hover, .shadow6:hover {
      opacity: 0.8;
  }

  .shadow1 .like1, .like2, .like3, .like4, .like5, .like6 {
      width: 60px;
      height: 60px;
      background-color: #66AF33;
      border-radius: 50%;
      margin: auto;
      margin-top: 28%;
      cursor: pointer;
  }


  .container7 {
      width: 100%;
      height: 750px;
      background-color: white;
      position: absolute;
      margin-top: 2657px;
      padding-top: 50px;
  }

  .container7 h2 {
      text-align: center;
      color: #404040;
  }

  .container7 p {
      text-align: center;
      width: 51%;
      margin-left: 25%;
      font-size: 1.1vw;
      line-height: 1.7;
      color: #555555;
  }

.pricing-gallery {
    width: 74%;
    height: 500px;
    display: block;
    margin: auto;
}

  .pricing-gallery .starter, .business, .professional, .advanced {
      width: 20.4%;
      height: 450px;
      background-color: #404040;
      float: left;
  }

  .business {
      background-color: #66AF33;
      transition: 1.5s;
  }

  .professional {
      transition: 1.5s;
  }

  .advanced {
      background-color: #66AF33;
      transition: 1.5s;
  }

  .pricing-gallery-afterScroll {
    margin-left: 3%;
}

   .starter {
       text-align: center;
       color: white;
       font-size: 1.05vw;
       line-height: 3.7;
   }


  .starter p {
      color: rgb(77, 77, 77);
      background-color: #dadada;
      padding: 24px 24.5%;
      margin-left: 0;
      font-size: 1.3vw;
      margin-top: 30px;
  }

  .starter button {
    padding: 9px 40px;
    background: none;
    border: 1px solid white;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.7s;
  }

  .starter button:hover {
      background-color: white;
      color: #66AF33;
  }



  .business {
    text-align: center;
    color: white;
    font-size: 1.05vw;
    line-height: 3.7;
}

.business p {
   color: rgb(77, 77, 77);
   background-color: #dadada;
   padding: 24px 24.5%;
   margin-left: 0;
   font-size: 1.3vw;
   margin-top: 30px;
   
}

.business button {
 padding: 9px 40px;
 background: none;
 border: 1px solid white;
 color: white;
 border-radius: 2px;
 cursor: pointer;
 transition: 0.7s;
}

.business button:hover {
   background-color: white;
   color: #66AF33;
}


.professional {
    text-align: center;
    color: white;
    font-size: 1.05vw;
    line-height: 3.7;
}

.professional p {
   color: rgb(77, 77, 77);
   background-color: #dadada;
   padding: 24px 24.5%;
   margin-left: 0;
   font-size: 1.3vw;
   margin-top: 30px;
   
}

.professional button {
 padding: 9px 40px;
 background: none;
 border: 1px solid white;
 color: white;
 border-radius: 2px;
 cursor: pointer;
 transition: 0.7s;
}

.professional button:hover {
   background-color: white;
   color: #66AF33;
}


.advanced {
    text-align: center;
    color: white;
    font-size: 1.05vw;
    line-height: 3.7;
}

.advanced p {
   color: rgb(77, 77, 77);
   background-color: #dadada;
   padding: 24px 24.5%;
   margin-left: 0;
   font-size: 1.3vw;
   margin-top: 30px;
   
}

.advanced button {
 padding: 9px 40px;
 background: none;
 border: 1px solid white;
 color: white;
 border-radius: 2px;
 cursor: pointer;
 transition: 0.7s;
}

.advanced button:hover {
   background-color: white;
   color: #66AF33;
}


#container8 {
    background-image: url("images/contact-bg.jpg");
    height: 600px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: -558px;
    position: fixed;
}

.container8 {
    width: 100%;
}


.container-contact {
    width: 80%;
    height: 900px;
    position: absolute;
    margin-top: 3500px;
    margin-left: 10%;
    text-align: center;
    color: white;
}

.container-contact p {
     width: 65%;
     margin-left: 17%;
     line-height: 1.7;
     font-size: 1.1vw;
}

.container-contact input {
    width: 30%;
    height: 50px;
    background-color: #404040;
    border: none;
    margin-left: 2%;
    opacity: 0.8;
}

.container-contact input ::placeholder {
    font-size: 1vw;
    color: rgb(141, 141, 141);
}

.container-contact textarea {
    width: 94%;
    margin-left: 2%;
    height: 115px;
    background-color: #404040;
    border: none;
    opacity: 0.8;
    color: white;
}

.container-contact button {
    width: 45%;
    height: 50px;
    background-color: #66AF33;
    opacity: 0.8;
    padding: 5px 20px;
    border: none;
    margin-top: 4px;
    cursor: pointer;
    transition: 0.4s;
    color: white;
}

.container-contact button:hover {
    background-color: white;
    color: #66AF33;
}

.container-contact p.copyright {
    margin-top: 180px;
}


#fixed {
    background-image: url("images/roadOnIpad.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}


#ipadMenu {
    width: 183px;
    height: 440px;
    background-color: #404040;
    opacity: 0.9;
    position: absolute;
    margin-left: 84.7%;
    margin-top: -738px;
    text-align: center;
    font-size: 3vw;
    display: none;
}

#ipadMenu h3 {
    text-decoration: none;
    color: white;
}

#ipadMenu a:link {
    text-decoration: none;
}



/*აიპადზე მორგებული დიზაინი*/
@media only screen and (max-width: 768px) {

    #hidden {
        display: block;
        color: red;
    }
   
    #openMenu {
        display: block;
        margin-left: 88%;
        margin-top: 35px;
        font-size: 32px;
    }

    #crystal {
        margin-left: 35%;
        padding-top: 2.7%;
        font-size: 28px;
    }

    .header p.menu {
        display: none;
    }

    #slideshow > div {
        width: 108.5%;
        margin-top: -28px;
    }

    #slideshow > div h1 {
       font-size: 4.5vw;
       margin-top: 10px;
       position: fixed;
       margin-left: 20%;
    }

    #slideshow > div h2{
       font-size: 3.8vw;
       margin-left: 28%;
       margin-top: 105px;
    }
    #scrollText {
       position: fixed;
       display: none;
    }

    #slideshow > div button {
        padding: 12px 55px;
        margin-top: 20px;
    }

    #slideshow > div p {
        margin-top: 150px;
        font-size: 2vw;
    }

    .container {
        width: 102%;
        margin-top: 380px;
        margin-left: 3.5%;
    }

    .container #item1 {
        margin-left: 13%;
    }

    .container #item2 {
        margin-top: -155px;
    }

    .second-container {
        margin-top: -190px;
        width: 102%;
        padding-top: 20px;
        height: 380px;
        margin-left: 3.5%;
    }

    div.gallery {
        margin-left: 12%;
    }
    div.gallery img {
        padding: 1.3%;
    }

    .second-container h3 {
        font-size: 2.7vw;
    }
    .second-container p {
        width: 60%;
        font-size: 1.7vw;
    }

    div.gallery .shadow1, div.gallery .shadow2, div.gallery .shadow3, div.gallery .shadow4 {
        height: 73.5px;
    }

    .container4 {
        width: 102%;
        margin-top: 220px;
        margin-left: 3.5%;
    }
    .container4 h2 {
        position: relative;
        margin-left: 0%;
    }

    .container4 p {
        text-align: center;
        transition: 10000s;
        width: 50%;
        margin-left: 25%;
    }

    .container4 #icons {
        transition: 50000s;
        width: 100%;
    }
    .container4 #icons .one, .two, .three, .four, .five, .six {
        width: 42%;
        float: left;
        height: 150px;
        margin-left: 5%;      
    }

    .container4 #icons .one .icon1, .icon2, .icon3, .icon4, .icon5, .icon6 {
        width: 40px;
        height: 40px;
    }

    .container4 #icons .fa {
        font-size: 16px;
    }

    .container4 #icons h3{
        font-size: 2.3vw;
        margin-left: 7%;
    }

    .container4 #icons p {
        width: 800%;
        font-size: 2.2vw;
        margin-left: 5%;
    }

    #container3 {
        display: none;
    }

    .container5 {
        margin-top: 950px;
        color: red;
        margin-left: 3.5%;
        width: 102%;
        height: 290px;
    }

    .container5 button {
        padding: 20px 70px;
        font-size: 2vw;
    }

    .container5 input {
        padding: 20px 10px;
        width: 33%;
        margin-left: 13%;
    }

    .container5 p {
        font-size: 1.9vw;
        width: 65%;
    }

     .container6 {
        width: 102%;
        margin-top: 1280px;
        background-color: #404040;
        height: 1100px;
        margin-left: 3.5%;
    }

    .container6 p{
        width: 90%;
        margin-left: 5%;
        font-size: 1.7vw;
        margin-top: -10px;
    }

    .container6 .image-gallery {
        width: 90%;
        margin-left: 5.3%;
    }

    .container6 img {
        width: 49%;
    }

    .shadow1, .shadow2, .shadow3, .shadow4, .shadow5, .shadow6 {
        display: none;
    }

    .container7 {
        width: 102%;
        margin-left: 3.5%;
        margin-top: 2400px;
    }

    .container8 {
        display: none;
    }

    .container-contact {
        width: 102%;
        margin-left: 2.5%;
        padding-top: 100px;
    }

    .pricing-gallery {
        width: 100%;
        padding-left: 5%;
    }

    .advanced, .professional, .business {
        margin-left: 3%;
    }

     .container-contact {
         margin-top: 3050px;
         color: rgb(255, 255, 255);
     }

     .container-contact h2 {
         font-size: 4vw;
         margin-top: 100px;
     }

     .container-contact p {
         font-size: 2.2vw;
         width: 70%;
     }

     #fixed {
         width: 92%;
         position: fixed;
         margin-left: 3.35%;
     }

     .show {
         height: 1120px;
         margin-top: -305px;       
     }

     #ipadMenu {
         position: fixed;
         margin-left: 78%;
     }
    }



/*ტელეფონებზე მორგებული დიზაინი*/
    @media only screen and (max-width: 480px) {

        #crystal {
            font-size: 7vw;
            text-align: center;
        }

        #openMenu {
            margin-left: 92%;
            margin-top: 22px;
        }

        #slideshow > div {
            width: 138%;
            margin-top: 18px;
        }

        #slideshow > div h1 {
            margin-left: 25%;
            margin-top: -20px;
         }
     
         #slideshow > div h2{
            margin-top: 40px;
            margin-left: 32%;
         }
     
         #slideshow > div button {
             padding: 12px 35px;
             margin-top: 18px;
         }
     
         #slideshow > div p {
             margin-top: 60px;
         }

         .container {
             width: 130%;
         }
         .container #item1 {
             margin-top: -50px;
             margin-left: 3.5%;
             width: 90%;
         }

         .container #item1 h4 {
             font-size: 7vw;
         }

         .container #item1 h3 {
            font-size: 6vw;
        }

        .container #item1 p {
            font-size: 5vw;
        }
         .container #item2 {
             margin-top: 35px;
             width: 100%;
         }

         .container #item2 img {
             width: 48%;
         }

         .container #item2 h4 {
             font-size: 10vw;
         }


         .second-container {
             width: 132%;
             margin-top: 228px;
             height: 2460px;
         }

         div.gallery {
             width: 98%;
             margin-left: 0;
             border: 1px solid black;
             float: none;
         }

         div.gallery img {
             width: 100%;
             padding-bottom: 20px;
         }

         .desc {
             display: none;
         }

         .second-container h3 {
             font-size: 7vw;
         }

         .second-container p {
             font-size: 5.2vw;
             margin-top: -15px;
             width: 90%;
         }


         .container4 {
             width: 138%;
             margin-top: 2703px;
             height: 1180px;
         }

         .container4 #icons {
             height: 1080px;
         }

         .container4  .two, .three, .four, .five, .six {
             float: none;
             width: 90%;
             margin-left: 1%;
             position: relative;
         }

         .container4 #icons .one {
             margin-top: 830px;
             position: absolute;
             margin-left: 1%;
             width: 90%;
         }
         .container4 h2 {
             margin-top: -20px;
             font-size: 8vw;
         }

         .container4 p {
             font-size: 4.5vw;
             margin-top: -10px;
             width: 80%;
             margin-left: 10%;
         }

         .container4 #icons p{
             width: 1050%;
             margin-top: 5px;
             font-size: 5vw;
             margin-left: 195%;            
         }

         .container4 #icons h3 {
             margin-left: 8%;
             font-size: 6.8vw;
             margin-left: 15%;
             margin-top: -40px;
         }

         .container4 .icon1, .icon2, .icon3, .icon4, .icon5, .icon6 {
             padding: 5px 10px 15px 12px;
         }

         .container4 #icons .fa {
             font-size: 30px;
         }

         .container5 {
             margin-top: 4068px;
         }

         .container5 h2 {
              margin-left: 30%;
              font-size: 8vw;
              margin-top: -100px;
         }

         .container5 p {
             margin-left: 5%;
             font-size: 5.2vw;
             width: 120%;
         }

         .container5 button {
             color: rgb(255, 255, 255);
             margin-left: 23.5%;
             font-size: 4vw;
             padding: 23px 100px;
             margin-top: 28px;
             position: absolute;
         }

         .container5 input {
             padding: 23px 100px;
             margin-top: -30px;
             margin-left: 23.5%;
         }

         ::-webkit-input-placeholder { /* Edge */
            color: rgb(255, 255, 255);
            font-size: 4vw;
          }

         .container6 {
             margin-top: 4568px;
             width: 131.5%;
             margin-left: 5%;
             height: 700px;
         }

         .container6 h2 {
             margin-top: 20px;
         }

         .container6 p {
             font-size: 2vw;
             margin-top: -25px;
             width: 70%;
             margin-left: 15%;
         }

         .container7 {
             margin-top: 5318px;
             width: 132%;
             margin-left: 4.5%;
             height: 678px;
         }

         .container7 h2 {
             font-size: 6vw;
             margin-top: -15px;
         }

         .container7 p.no-gallery {
             font-size: 4vw;
             width: 80%;
             margin-left: 10%;
             margin-top: -10px;
         }

         .container7 .pricing-gallery {
             width: 90%;
         }

         .container7 .pricing-gallery .starter, .business, .professional, .advanced {
            width: 100.4%;
            float: none;
            margin-left: -3%;
        }

        .starter p, .business p, .professional p, .advanced p {
            padding: 14px 24.5%;
            font-size: 7.3vw;
        }
        .starter button, .business button, .professional button, .advanced button {
          padding: 11px 55px;
          font-size: 5.5vw;
        }
        .starter, .business, .professional, .advanced {
            text-align: center;
            color: white;
            font-size: 5.5vw;
            line-height: 2.5;
        }


         .container-contact {
             margin-top: 7348px;
             margin-left: 18%;
         }

         .container-contact input {
            width: 30%;
            height: 50px;
            background-color: #404040;
            border: none;
            margin-left: 2%;
            opacity: 0.8;
        }
        
        .show {
            height: 1520px;
            margin-top: -305px;
        }

        #fixed {
            background-image: url("images/background.jpg");
        }
        
        #ipadMenu {
            width: 183px;
            height: 228px;
            margin-left: 92.5%;
            margin-top: -740px;
            font-size: 3.2vw;
            position: absolute;
        }
    }