.footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;

    .row {
        max-width: 1272px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        flex-wrap: wrap;

        .column {

            .top-categories {
                display: flex;
                gap: 70px;
            }

            .social-icons {
                display: flex;
                gap: 10px;

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 32px;
                    height: 32px;
                    background-color: #f1f3f6;
                    border-radius: 50%;

                    &:hover {
                        background-color: #d2d8e2;
                    }
                }
            }

            .language-icons {
                display: flex;
                gap: 10px;

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #f1f3f6;
                    border-radius: 50%;
                    padding: 10px;

                    &:hover {
                        background-color: #d2d8e2;
                    }

                    &:first-child {
                        background-color: #272a37;

                        &:hover {
                            background-color: #121319;
                        }
                    }
                }
            }

            .download-icons {
                display: flex;
                gap: 10px;

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 93px;

                    img {
                        width: 100%;
                    }
                }
            }

            .icons {
                display: flex;
                flex-direction: column;
                gap: 25px;
            }
        }
    }

    a {
        text-decoration: none;
        color: #8996ae;
        font-size: 13px;
    }

    li {
        line-height: 1.5;
    }

    h6 {
        margin-bottom: 0.5rem;
        line-height: 1.2;
        font-size: 13px;
    }

    @media(max-width: 1200px) {
        .top-cat {
            display: none;
        }

        .row {
            gap: 60px;
            padding: 20px 30px;
            justify-content: flex-start;

            .social-item {
                display: flex;
                flex-direction: row !important;
                flex-wrap: wrap;
                gap: 100px !important;
            }
        }
    }

    hr {
        border-top: 1px solid rgba(0,0,0,.1);
    }

    .footer-bottom {
        width: 100%;
        height: 100px;
        background-color: #fff;
        

        .row {
            display: flex;
            gap: 10px;
            justify-content: flex-start;
            gap: 10px;
            padding-left: 60px;

            .my-webs {
                display: flex;
                align-items: center;

                @media(max-width: 768px) {
                    display: none;
                }

                .market {
                    border: 2px solid #fec900;
                        background-color: #fec900;
                        padding: 5px 4px 4px 18px;
                        position: relative;
                        border-radius: 34px;
                        cursor: pointer;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        span {
                            padding: 10px;
                            background-color: #fff;
                            border-radius: 24px;
                            color: #454b57;
                            border: none;
                        }

                        img {
                            display: block;
                        }
                }

                a {
                    
                    &:hover {
                        border: 2px solid #fec900;
                        background-color: #fec900;
                        padding: 5px 4px 4px 18px;
                        position: relative;
                        border-radius: 34px;
                        cursor: pointer;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;

                        span {
                            padding: 10px;
                            background-color: #fff;
                            border-radius: 24px;
                            color: #454b57;
                        }

                        img {
                            display: block;
                        }
                    }

                    span {
                        

                        padding: 9px 18px;
                        border: 2px solid #cad7e5;
                        position: relative;
                        border-radius: 24px;
                    }

                    img {
                        display: none;
                    }
                }

                .auto {
                    &:hover {
                        background-color: orange;
                    }
                }

                .parts {
                    &:hover {
                        border: 2px solid #0d828f;
                        background-color: #0d828f;
                    }
                }

                .home {
                    &:hover {
                        border: 2px solid #29b24e;
                        background-color: #29b24e;
                    }
                }

                .jobs {
                    &:hover {
                        border: 2px solid #10bbe8;
                        background-color: #10bbe8;
                    }
                }
            }

            .my-top {
                width: 100px;
                height: 50px;
                position: absolute;
                right:2%;
            }
        }
    }
}