.main {
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px 0 50px 0;

    &__category {
        margin-right: 12px;
    }

    &__filter-block {
        width: 300px;
        height: 100%;
        padding: 30px 0 12px;
        background-color: #fff;
        border-radius: 16px;
        
        ul {
            position: relative;
            width: 100%;
            line-height: 1.12;
            font-size: 14px;
            font-weight: 700;
            color: #555758;
            text-align: left;

            li {
                display: flex;
                margin: 0 20px 0 28px;
                cursor: pointer;
                margin-bottom: 14px;
                align-items: center;


                &:hover {
                    color: #007aff;
                    text-decoration: underline;

                    :last-child {
                        fill: #272a37;
                    }
                }
            }

            
        }
    }
    

    &__slider-block {
        background: rgb(255, 255, 255);
        width: calc(100% - 324px);
        height: 100%;
        border-radius: 16px;
        padding: 40px;

        .container {
            margin: 0 auto;
            position: relative;
            width: 100%;
            padding-bottom: 300px;
            user-select: none;
            background-color: #1c1c1c;
            box-shadow: $box-shadow;
            border-radius: 16px;
            max-height: 300px;
        
            input {
                display: none;
            }
        
            .slide_img {
                position: absolute;
                width: 100%;
                height: 100%;
                max-height: 300px;
                z-index: -1;
                border-radius: 16px;
        
                img {
                    width: inherit;
                    height: inherit;
                    max-height: 300px;
                    border-radius: 16px;
                }
        
                .prev, .next {
                    width: $big_nav_width;
                    height: inherit;
                    position: absolute;
                    top: 0;
                    z-index: 99;
                    transition: .45s;
                    cursor: pointer;
                    text-align: center;
                }
                .next {
                    right: 0;
                }
                .prev {
                    left: 0;
                }
        
        
                .prev span, .next span {
                    position: absolute;
                    width: 0px;
                    height: 0px;
                    border: solid 20px;
                    top: 50%;
                    transform: translateY(-50%);
                }
        
                .prev span {
                    border-color: transparent #fff transparent transparent;
                    right: 35%;
                }
                .next span {
                    border-color: transparent transparent transparent #fff;
                    left: 35%;
                }
            }
        }

        @media (max-width: 1200px) {
            .container {
                padding-bottom: $big_height;
            }
        }
        
        #i1:checked ~ #one,
        #i2:checked ~ #two,
        #i3:checked ~ #three,
        #i4:checked ~ #four {
            z-index: 9;
            animation: scroll 1s ease-in-out;
        }
        
        
        
        @keyframes scroll {
            0% { opacity: .4;}
            100% { opacity: 1;}
        }
        
        @media screen and (max-width: 685px) {
            .container {
                border: none;
                width: $small_width;
                height: 0;
                padding-bottom: $small_height;
        
                .slide_img {
                    .prev, .next {
                        width: $small_nav_width;
                    }
        
                    .prev span, .next span {
                        border: solid 12px;
                    }
                    .prev span {
                        border-color: transparent #fff transparent transparent;
                    }
                    .next span {
                        border-color: transparent transparent transparent #fff;
                    }
                }
        
            }
        }      
        
    }

    &__services {
        background-color: $mainGray;
        max-height: 160px;
        height: 100%;
        margin-top: 55px;
        border-radius: 14px;
        padding: 32px 40px;

        .item-section {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            gap: 12px;

            .item {
                width: 100%;
                max-width: 185px;
                height: 100%;
                background-color: rgb(255, 255, 255);
                border-radius: 8px;
                padding: 16px;
                font-size: 14px;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;

                &:hover {
                    background-color: #e6e6e6;
                }

                .main-icon {
                    @include iconStyle;
                    width: 40px;
                    height: 40px;
                }

                .sign {
                    background-image: url("https://www.mymarket.ge/react/build/static/media/main-sign.8284e4e4.svg");
                }

                .sale {
                    background-image: url("https://www.mymarket.ge/react/build/static/media/main-sale.9b6af357.svg");
                }

                .shops {
                    background-image: url("https://www.mymarket.ge/react/build/static/media/main-shops.094455f5.svg");
                }

                .hand {
                    background-image: url("https://www.mymarket.ge/react/build/static/media/1038.fb6a74a3.svg");
                }
            }
        }
    }
}

@media(max-width: 1200px) {
    #sale {
        display: none;
    }

}


@media(max-width: 992px) {
    .main__filter-block {
        display: none;
    }

    .main__slider-block {
        width: 100%;
        max-width: 870px;
        display: block;
        margin: auto;
        padding: 0;

        #shops {
            display: none;
        }

        .main__services {

            .item {
                width: 100%;
                max-width: none;
            }
        }
    }
    #sale {
        display: none;
    }

    .main {
        padding: 10px 0;
    }
}


@media(max-width: 768px) {

    .main__slider-block {
        max-width: none;

        .main__services {

            .item:nth-child(1){
                display: none;
            }
        }
    }

    .main__services {
        padding: 10px;
        margin-top: 10px;
    }
}

@media(max-width: 576px) {
    #hand {
        display: none;
    }
}