.service {
    @include sliderHeaderStyle;

    &__header {

        h3 {
            display: block;
        }
    }
    

    .service-list {
        margin-top: 30px;
       @include slickStyle;
    }
    
    @include sliderStyle;
    &__item {
        min-width: 350px;
        height: 300px;

        @media(max-width: 1200px) {
            min-width: 300px;
        }

        @media(max-width: 992px) {
            min-width: 350px;
        }

        @media(max-width: 758px) {
            min-width: 550px;
        }

        @media(max-width: 576px) {
            width: 100%;
        }

        .item-content {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            .slide-box {
                width: 100%;
                height: 130px;
                background-color: #fff;
                border-radius: 16px;
                padding: 16px;
                display: flex;
                gap: 13px;

                img {
                    width: 96px;
                    height: 96px;
                    border-radius: 14px;
                }

                .desc {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    padding: 5px 0;

                    .service-category {
                        opacity: .5;
                        font-size: 12px;
                        color: #272a37;
                    }

                    .service-description {
                        font-size: 14px;
                    }

                    .price {
                        margin-top: auto;
                        color: #8996ae;
                    }
                }
            }
        }
    }

    .slick-track {
        display: flex;
        gap: 20px;
    }
}