@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    font-style: normal;
}


//menu overlay

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

  //header
.header {
    max-width: 1120px;
    height: 40px;
    margin: 50px auto;

    &__content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-list {
            display: flex;
            gap: 35px;
            align-items: center;

            &-item {
                list-style: none;
                cursor: pointer;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                letter-spacing: 0.03em;
            }
        }

        @media (max-width: 1024px) {
            &-list {
                display: none;
            }
        }

        .icons {
            gap: 5px;

            li:first-child {
                padding-top: 6px;
            }
        }

        @media (max-width: 1024px) {
            .icons {
                display: flex;
            }
        }

        @media (max-width: 350px) {
            .icons {
                display: none;
            }
        }

        .logo {
            width: 201px;
            cursor: pointer;
        }
    }

    .open-menu {
        font-size:30px;
        cursor:pointer;
        display: none;
        padding-right: 10px;
    }

    @media (max-width: 1024px) {
        .open-menu {
            display: block;
        }
    }
}

.main {
    max-width: 1120px;
    margin: 130px auto;

    &__sections {
        width: 100%;
        display: flex;

        &-item {
            width: 50%;
            text-transform: uppercase;
            //border: 1px solid red;

            p {
                font-weight: normal;
                font-size: 30px;
                letter-spacing: 0.02em;
                margin: 35px 0;
            }

            h1 {
                font-weight: bold;
                font-size: 55px;
                letter-spacing: 0.04em;
                margin-bottom: 55px;
            }

            @media (max-width: 1024px) {
                h1 {
                    font-size: 30px;
                }

                p {
                    font-size: 25px;
                }
            }

            button {
                font-weight: normal;
                font-size: 16px;
                letter-spacing: 0.03em;
                padding: 17px 30px;
                background: #D7B399;
                border: none;
                cursor: pointer;
            }
        }

        .right {
            img {
                width: 100%;
            }
        }
    }

    @media (max-width: 768px) {
        &__sections {
            flex-direction: column;

            &-item {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
            }
        }
    }
}

@media (max-width: 768px) {
    .main {
        margin: 50px auto;
    }
}

.shipping {
    width: 100%;
    background: #212121;
    padding: 80px 0 69px 0;

    .container {
        display: block;
        margin: auto;
        color: #fff;
    }

    &__heading {
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        letter-spacing: 0.02em;

        span {
            font-weight: 300;
        }
    }

    @media (max-width: 500px) {
        &__heading {
            font-size: 25px;
        }
    }

    &__desc {
        margin-top: 23px;
        font-weight: 300;
        font-size: 21px;
        line-height: 26px;
        text-align: center;
    }

    @media (max-width: 500px) {
        &__desc {
            font-size: 18px;
        }
    }
}

.collection {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #F9F6F1;

    &__sections {
        max-width: 1920px;
        display: flex;
        gap: 15px;
        &-item {
            display: flex;
            margin-top: 60px;

            &-text {
                h3 {
                    font-weight: 500;
                    font-size: 24px;
                    letter-spacing: 0.03em;
                }

                p {
                    font-weight: 300;
                    font-size: 16px;
                    margin-top: 25px;
                }

                button {
                    background: #D7B399;
                    padding: 7.5px 30px;
                    border: none;
                    color: #fff;
                    margin-top: 40px;
                    cursor: pointer;
                    margin-bottom: 58px;
                }

                @media (max-width: 1024px) {
                    h3 {
                        font-size: 19px;
                    }

                    p {
                        font-size: 14px;
                    }
                }
            }

            &-image {
                width: 190px;
                display: flex;
                align-self: flex-end;
                margin-left: 19px;

                img {
                    width: 100%;
                }
            }
        }
    }

    @media (max-width: 768px) {
        &__sections {
            flex-direction: column;
            width: 100%;
            align-items: center;
            padding-left: 15px;

            &-item {
                width: 100%;

                &-text {
                    width: 50%;

                    h3 {
                        font-size: 24px;
                    }
                    p {
                        font-size: 16px;
                    }
                }

                &-image {
                    align-self: flex-start;
                }
            }
        }
    }
}

.models {
    width: 100%;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__heading {
        margin-bottom: 103px;
        font-weight: bold;
        font-size: 36px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
    }

    &__gallery {
        max-width: 1126px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 80px;
        column-gap: 30px;

        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 255px;
            height: 345px;
            background:
            linear-gradient(to right, #D7B399 3px, transparent 3px) 0 0,
            linear-gradient(to right, #D7B399 3px, transparent 3px) 0 100%,
            linear-gradient(to left, #D7B399 3px, transparent 3px) 100% 0,
            linear-gradient(to left, #D7B399 3px, transparent 3px) 100% 100%,
            linear-gradient(to bottom, #D7B399 3px, transparent 3px) 0 0,
            linear-gradient(to bottom, #D7B399 3px, transparent 3px) 100% 0,
            linear-gradient(to top, #D7B399 3px, transparent 3px) 0 100%,
            linear-gradient(to top, #D7B399 3px, transparent 3px) 100% 100%;
            background-repeat: no-repeat;
            background-size: 20px 20px;

            &-image {
                width: 205px;

                img {
                    width: 100%;
                }
            }

            &-title {
                font-weight: 600;
                font-size: 14px;
                text-align: center;
                margin-top: 25px;
            }

            &-price {
                font-weight: bold;
                font-size: 18px;
                text-align: center;
                color: #D7B399;
                margin-top: 15px;
            }
        }
    }

    @media (max-width: 1126px) {
        &__gallery {
            column-gap: 80px;
        }
    }

    @media (max-width: 768px) {
        &__gallery {
            column-gap: 30px;
        }
    }

    &__all {
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 0.03em;
        padding: 18px 35px;
        border: none;
        background: #D7B399;
        cursor: pointer;
        color: #fff;
        margin-top: 103px;
    }
}

@media (max-width: 500px) {
    .models {
        margin-top: 50px;
    }
}

.footer {
    width: 100%;
    background: #212121;
    margin-top: 152px;

    .container {
        max-width: 1110px;
        margin: auto;
        padding: 80px 0;
    }

    @media (max-width: 1024px) {
        .container {
            padding: 5px 15px;
        }
    }

    &__sections {
        display: flex;
        align-items: flex-start;

        &-item {
            display: flex;

            &-col {
                margin-left: 80px;

                &-list {
                    li {
                        list-style: none;
                        color: #CBCFD4;
                        padding: 10px 0;
                        cursor: pointer;
                        font-weight: normal;
                        font-size: 14px;

                        &:first-child {
                            font-weight: bold;
                            font-size: 10px;
                            text-transform: uppercase;
                            color: #fff;
                        }
                    }
                }
            }
        }

        .logo {
            width: 201px;
            cursor: pointer;
        }
    }

    @media (max-width: 1024px) {
        &__sections {
            flex-direction: column;
            align-items: center;

            .logo {
                margin-bottom: 40px;
            }

            &-item {
                flex-wrap: wrap;
                justify-content: space-between;
                column-gap: 50px;

                &-col {
                    margin-left: 0;
                    &:last-child {
                        width: 126px;
                    }
                }
            }
        }
    }


    @media (max-width: 320px) {
        .footer__sections-item-col {
            &:last-child {
                width: 80px;
            }
        }
    }
}

@media (max-width: 500px) {
    .footer {
        margin-top: 50px;
    }
  }