@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #d0d3cf;
}
body {
    background-color: #c7c7c7;
}

.game {
    background-image: url('./images/game-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 750px;
    height: 100vh;
    max-height: 900px;
    border: 8px solid rgb(7, 46, 30);
}

.game-space {
    position: relative;
    display: flex;
    height: 100%;
}


.second-tank, .first-tank, .third-tank {
    position: absolute;
    width: 60px;
    height: 60px;
}

.third-tank {
    background-color: green;
}

.life {
    width: 86%;
    left: 7%;
    position: relative;
    height: 10px;
    border: 1px solid #838383f4;
    /*background-color: rgb(19, 55, 121);*/
}

.no-life {
    background-color: transparent;
    border: none;
}

.life-bg {
    width: 100%;
    height: 10px;
    background-color: rgb(25, 116, 6);
}

.enemy-tank-bg {
    width: 100%;
    height: 60px;
    transform: rotate(180deg);
    background-image: url("./images/my-tank.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

.enemy-tank-bg img{
    left: 0.5px;
    width: 47%;
    height: 57%;
    position: relative;
    top: 3px;
    transform: rotate(180deg);
    pointer-events: none;
}

/*აფეთქების შემდეგ*/
.enemy-tank-die {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.enemy-tank-die::after { 
    content: "";
    transition: 0.5s;
    display: block;
    position:absolute;
    width: 200%;
    height: 200%;
 
    
    animation-name: example;
    animation-duration: 0.15s;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    font-size: 30px;
    color: rgb(17, 17, 17, 0.1);
    top: -180%;
    left: -30px;
    transform: rotate(180deg);
    z-index: 20;
  }

  @keyframes example {
    from {background-image: url("./images/kkk.png")}
    to { background-image: url("./images/dff.png");}
  }


.tank-image {
    width: 100%;
    transform: rotate(180deg);
}

.my-tank {
    width: 80px;
    height: 80px;
    top: -10px;
    align-self: flex-end;
    position: relative;
    background-image: url('./images/my-tank.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
}

.my-tank-explosion {
  width: 120px;
}

.georgian-flag {
    width: 50%;
    position: relative;
    top: 5px;
    pointer-events: none;
}

.bullet, .jetBullet, .secondJetBullet, .thirdJetBullet, .putinBullet, .putinSecondBullet {
    width: 30px;
    height: 80px;
    position: absolute;
    z-index: 5;
    background-image: url("./images/bullet.png");
    background-position: center;
    background-size: 400%;
    background-repeat: no-repeat;
}


.score {
    position: absolute;
    font-size: 24px;
    z-index: 2;
}

.jet, .secondJet, .thirdJet, .putin {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: brown;
    transition: 3s;
    z-index: 20;
}

.jet {
    background-color: green;
}

.secondJet {
    transition: 3.5s;
}

.thirdJet {
    transition: 3.5s;
}

.putin {
    transition: 3.5s;
}


.my-life-child {
    width: 100%;
    height: 9px;
    background-color: rgb(25, 116, 6);
}

.my-life {
    width: 90%;
    height: 11px;
    border: 1px solid #383838;
    position: absolute;
    top: 98.5%;
}

.balistic {
    background-image: url("./images/balistic.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    display: flex;
    align-items: flex-end;
    background-color: transparent;
    top: 5px;
}


.balistic-die::after { 
    content: "";
    transition: 0.5s;
    position: absolute;
    width: 1600%;
    height:200%;
    top: 10px;
    
    animation-name: example2;
    animation-duration: 0.15s;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    font-size: 30px;
    color: rgb(17, 17, 17, 0.1);
    transform: rotate(180deg);
    z-index: 20;
  }

  @keyframes example2 {
    from {background-image: url("./images/kkk.png")}
    to { background-image: url("./images/dff.png");}
  }

  .putin-bg {
    transform: rotate(180deg);
    display: flex;
    align-items: flex-end;
    background-color: transparent;
    top: 40px;
    width: 60px;
    height: 60px;
  }

  .putin-child-bg {
      width: 80px;
      height: 80px;
      position: absolute;
      top: -85px;
      background-image: url("./images/oVhwveJ-removebg-preview.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      left: -5%;
  }

  .putin-balistic {
    position: absolute;
    width: 80px;
    transform: rotate(180deg);
    align-self: flex-start;
  }

  .game-over {
      position: absolute;
      width: 100%;
      height: 0;
      max-height: 900px;
      background-image: url("./images/game-bg.jpg");
      z-index: 21;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #fff;
      justify-content: space-between;
      transition: 2s;
      overflow: hidden;
  }

  .russian-tank {
      width: 40%;
      height: 200px;
      background-image: url("./images/russia-won.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      justify-self: flex-end;
  }

  .russia-won {
      text-align: center;
  }

  .game-over h1 {
    color: #67875d;
      font-size: 60px;
      margin-bottom: 20px;
      text-shadow: 0 2px 1px #79a06d, 
      -1px 3px 1px #82ad75, 
      -2px 5px 1px #8ebf80;
  }

  .game-over h2 {
    margin-bottom: 15px;
    font-size: 25px;
}

.game-over button {
    width: 150px;
    height: 60px;
    cursor: pointer;
    background-color: rgb(119, 23, 23);
    border: none;
    color: #fff;
    font-size: 20px;
    transition: 0.5s;
}

.game-over button:hover {
    background-color: rgb(45, 126, 92);
}

.full-height {
    height: 100%;
}